.detail-us-img{
    width: 100%;
    height: 100vh;
    background-image: url('../assests/Rectangle 1724.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}


.profile-container {
    background-color: #1d1d1d;
    color: white;
    padding: 20px;
  }
  
  .profile-image img {
    border-radius: 10px;
  }
  
  .profile-details h2 {
    margin-top: 20px;
  }
  
  .profile-info div {
    margin: 10px 0;
  }
  
  
  
  .contact-form input, .contact-form textarea {
    margin-top: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #444;
  }
  
  .contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #bbb;
  }
  
  .contact-form button {
    background-color: #e91e63;
    border: none;
    
  }
  
  .image-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .location-info, .contact-info {
    margin-top: 20px;
    font-size: 18px;
  }
  
  .location-info svg, .contact-info svg {
    margin-right: 10px;
  }
  

  .profile{
    background-color: white;
    color: #000;
    border-radius: 10px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .profile div{
    text-align: center;
  }

  .profile strong{
    color: #e91e63;
  }


  .one ,.sec{
    display: flex;
    justify-content: center;
    gap: 4vw;

  }

  .text-area{
    position: relative;
  }

  .text-area textarea{
    height: 250px;
  }

  .text-area button{
    position: absolute;
    right: 0;
    bottom: 3%;
    background-color: #e91e63;
    color: white;
    padding: 20px 6px;
    width: 80px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
  }


  @media screen and  (max-width: 855px) {
    .contact-form input, .contact-form textarea {
        margin-top: 10px;
        background-color: #333;
        color: white;
        border: 1px solid #444;
        width: 100%;
      }
  }
  @media (max-width: 600px) {
    .text-area button{
        position: absolute;
        right: 0;
        bottom: 3%;
        background-color: #e91e63;
        color: white;
        padding: 10px;
        width: 70px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }


      .location{
        font-size: 14px;
      }

      .text-area textarea{
        height: 200px;
      }

  }


  @media (max-width: 400px) {
    .text-area button{
        position: absolute;
        right: 0;
        bottom: 3%;
        background-color: #e91e63;
        color: white;
        padding: 10px;
        width: 70px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }


      .location{
        font-size: 12px;
      }

  }
  