
.about-us-img{
    width: 100%;
    height: 100vh;
    background-image: url('../assests/Group 39909.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}


.inputs{
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
}

.first-sec ,.second-sec{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    margin: 0 auto;
    padding: 20px 40px;
}

.first-sec input ,.second-sec input{
    padding: 10px 30px;
    border-radius: 6px;
     background: #292929;
    border: none;
    outline: none;
    width: 100%;
}

.heading{
    margin: 1vw 0;
    margin-left: 3vw;
}


.upload-container {
    width: 95%;
    padding: 20px;
    background-color: #2a2a2a;
    border-radius: 10px;
    margin: 0% auto;
    text-align: center;
}
.upload-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}
.upload-header div {
    text-align: center;
}

.img{

    background-color: #d32f2f;
    padding: 12px;
    border-radius: 50%;
}
.upload-header img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.upload-header span {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    text-align: start;
}
.upload-area {
    border: 2px dashed #555;
    border-radius: 10px;
    height: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.upload-area img {
    width: 120px;
}
.upload-area p {
    margin: 10px 0 0 0;
}
.upload-info a {
    color: #f44336;
    text-decoration: none;
}
.upload-info {
    font-size: 14px;
    color: #888;
}
.upload-button {
    background-color: #f44336;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}
.upload-button:hover {
    background-color: #d32f2f;
}

.upload{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    cursor: pointer;
}

.upload-area{
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.upload-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.field-container {
    padding: 20px;
    border-radius: 8px;
    width: 90%;
}

.field-container h1 {
    margin-bottom: 20px 0px;
    font-weight: 400;
    margin-left: 5vw;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    padding: 0vw 6vw;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 16px;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}


.about-me-container {
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.about-me-container textarea {
    width: 100%;
    height: 200px;
    background-color: #1a1a1a;
    color: white;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;


}

.form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.terms-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    
}

.terms-label input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.submit-button {
    background-color: #b30000;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 2%;
    bottom: 25%;
}

.submit-button img {
    width: 20px;
    height: 20px;
}



@media screen and (max-width: 1100px){

   .upload-header h1{
    font-size: 24px;
    margin-top: 6px;
   }

   .upload{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


   .img{

    background-color: #d32f2f;
    padding: 12px;
    border-radius: 50%;
}
.upload-header img {
    width: 15px;
    height: 15px;
    object-fit: contain;
}
.upload-header span {
    display: block;
    margin-top: 5px;
    font-size: 13px;
}
}



@media screen and (max-width: 900px){
    .upload-header{
        flex-wrap: wrap;
    }

    .upload-header h1{
     font-size: 20px;
     margin-top: 6px;
    }
 
    .upload{
     display: flex;
     align-items: center;
     gap: 10px;
     cursor: pointer;
 }
 
 
    .img{
 
     background-color: #d32f2f;
     padding: 12px;
     border-radius: 50%;
 }
 .upload-header img {
     width: 15px;
     height: 15px;
     object-fit: contain;
 }
 .upload-header span {
     display: block;
     margin-top: 5px;
     font-size: 13px;
 }

 .submit-button {
    background-color: #b30000;
    border: none;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 3.5%;
    bottom: 25%;
}
 }
 

@media screen and (max-width: 670px) {
    .inputs{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
       }

      
.first-sec ,.second-sec{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
} 


.upload-header{
    flex-direction: column;
    gap: 20px;
}

.upload{
    display: flex;
    align-items: center;
    gap: 10vw;
    margin: 20px 0px;
    cursor: pointer;
    border-bottom: 1px solid gray;
}
     


.upload-header h1{
    font-size: 30px;
    margin-top: 6px;
   }




   .img{

    background-color: #d32f2f;
    padding: 12px;
    border-radius: 50%;
}
.upload-header img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.upload-header span {
    display: block;
    margin-top: 5px;
    font-size: 15px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}
}



@media screen and (max-width: 500px){
    .upload-info {
        font-size: 12px;
        color: #888;
    }
    .upload-button {
        background-color: #f44336;
        border: none;
        padding: 8px 16px;
        color: white;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;
    }

    .submit-button {
        background-color: #b30000;
        border: none;
        padding: 20px;
        border-radius: 10px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 5%;
        bottom: 25%;
    }
}

